.pokerCalc {
  font-size: 1.4rem;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 85vh;
  /* justify-content: space-between; */
  @media (min-width: 768px) {
  }
}

.playerList {
  flex-direction: column;
}

.payout {
  background-color: rgba(0, 0, 0, 0.2);
}

.payout li {
  font-size: 1.4rem;
}

.bigbutton {
  width: 75px;
  height: 50px;
  margin: 12px 6px 6px 0px;
  font-size: 1rem;
  border-radius: 5px;
}

.smallbutton {
  align-content: flex-start;
  align-items: flex-start;
  width: 50px;
  height: 40px;
  border-radius: 3px;
  align-self: center;
}

.player {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    width: 50vw;
  }
}

.playerName {
  width: 28vw;
  @media (min-width: 768px) {
    width: 150px;
  }
}

.pokerCalc li {
  padding: 0 5px;
}

.playerData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media (min-width: 768px) {
    width: 50vw;
  }
}

.playerNet {
  font-size: 1rem;
}

.buyins {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.netamountData {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 5px;
  width: 50vw;
}

.payout {
  @media (min-width: 768px) {
    width: 50vw;
  }
}

.payout li {
  /* padding-top: 15px 0 5px 15px; */
}

.payout ul {
  margin: 15px 0;
}

.payoutHeader {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

.copy-button {
  width: 40px;
  height: 40px;
  align-self: center;
}