#content {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 25px;
  font-size: 1rem;
  @media (min-width: 768px) {
    width: 40%;
  }
}

.listedCountry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showButton {
  border-radius: 5px;
  width: 75px;
  height: 25px;
  align-items: center;
  background-color: rgb(255, 223, 191);
  border: 3px;
  border-color: black;
  margin: 3% 0;
  font-size: 1rem;
}

.geoAPI input {
  width: 80%;
  height: 50px;
  background-color: rgb(255, 223, 191);
  border: rgb(0, 0, 0) solid 3px;
  color: black;
  /* text-align: left; */
  padding: 0 0 0 5px;
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

.geoAPI img {
  border-radius: 10px;
  width: 200px
}

.geoAPI .icon {
  width: 64px;
}

.geoApi ul {
  padding: 0;
}

.listedCountry {
  padding: 0;
}