/*FORM*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #root {
	display: flex;
	flex-direction: column;	
  height: 100%;
}

/*NAVIGATION AND HEADER*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
  gap: 2rem;
  padding: 0 0 0 1rem;
	width: 100%;
}

nav ul {
	list-style: none;
	display: flex;
}

nav p {
  padding: 0;
  margin: 0.3rem;
}

nav li {
  padding: 0 1rem;
}

nav a {	
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
  padding: .25rem;
}

/*MAIN*/
main {
	flex-grow: 1;	
	display: flex;
	align-items: stretch;
  flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
  margin-bottom: 25px;
}

#content {
  height: 100%;
  padding: 50px;
}

.sidebar {
	flex-basis: 15%;
}

.sidebar p {
  margin: 0.5rem;
}

.container {
	flex-basis: 85%;
  text-align: center;
}

footer {	
	height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 0 5px 0 0;
}

/*COLORS*/

html {
  background-color:#1e1e1e;
  color: white;
}

header {
  background-color: #3c3c3c;
  color: white;
}

main {
  background-color: #1e1e1e;
}

.sidebar {
  background-color: #252526;
}

footer {
  background-color: #333;
  color: white;
}

nav a {
	color: inherit;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

#const {
  color: #569cd6;
}

#var {
  color: #d4daaa;
}

#paranthesis {
  color: #ffd700;
}

#parameters {
  color: #99dcfe;
}

#return {
  color: #c586c0;
}

/*FONTS*/

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

.container {
  font-family: 'Source Code Pro', monospace;
}

.site-title {
  font-size: 1.6rem;
  display:inline-flex;
  overflow:hidden;
  white-space: nowrap;
}

nav h1 {
  font-size: 2rem;
}

footer {
  line-height: 25px;
}